<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Echo Chamber</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Roboto Slab Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
    <!--Import Black Chancery Font-->
    <link href="https://fonts.cdnfonts.com/css/black-chancery" rel="stylesheet">
    <!--Import Charter Font-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body class="grey darken-4">
    <header>
        <nav class="grey lighten-2">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo chance grey-text text-darken-4">Echo Chamber</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down roboto four">
                    {{#if logged_in}}
                    <li id="nav-profile"><a class="grey-text text-darken-4" href="/profile">Profile</a></li>
                    <li id="nav-home"><a class="grey-text text-darken-4" href="/">Home</a></li>
                    <li id="nav-logout"><a class="grey-text text-darken-4" href="/">Logout</a></li>
                    {{else}}
                    <li id="nav-login"><a class="grey-text text-darken-4" href="/login">Login</a></li>
                    <li id="nav-signup"><a class="grey-text text-darken-4" href="/signup">Sign Up</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <ul class="sidenav roboto four" id="mobile-demo">
            <li><a class="grey-text text-darken-4" href="/">Home</a></li>
            <li><a class="grey-text text-darken-4" href="/dashboard">Dashboard</a></li>
            <li><a class="grey-text text-darken-4" href="/signup">Sign Up</a></li>
            <li><a class="grey-text text-darken-4" href="/login">Login</a></li>
        </ul>
    </header>
    
    <main class="container animate__animated animate__fadeIn" id="main">
        {{{body}}}
    </main>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
</body>

</html>