    <div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Create a Post</h5>
          <form id="addPost" method="post" action="/api/postRoutes">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="post_title">Title of Post</label>
                <input type="text" class="form-control" id="post_title" name="post_title" placeholder="Title of Post">
              </div>
              <div class="form-group col-md-6">
                <label for="user_name">Created By</label>
                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Created By">
              </div>
            </div>
            <div class="input-field col s12">
              <label for="textarea2">Enter Text</label>
              <input type="text" class="form-control" id="textarea2" name="textarea2" placeholder="Type your post here...">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="youremail@gmail.com">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons right">Create Post</i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>

<script src="/js/create-post.js"></script>
