<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h4 class="blue-text">Create a Post</h4>
        <hr />
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s8">
                <textarea
                  id="create_title"
                  class="materialize-textarea"
                ></textarea>
                <label for="textarea1">Title of Post</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8">
                <textarea
                  id="create_content"
                  class="materialize-textarea"
                ></textarea>
                <label for="textarea1">Write post here..</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-action valign-wrapper">
        <button
          id="create-button"
          class="btn waves-effect waves-light"
          type="post"
          name="action"
        >Post
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>