<div class="row login-container">
    <div class="row">
      <h2>Login</h2>
      <form class="login-form">
      <div class="input-field col s12">
        <label for="email">Email</label>
        <input id="email-login" type="email" class="validate" style="color: #eeeeee;"/>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="password">Password</label>
        <input id="password-login" type="password" class="validate" style="color: #eeeeee;"/>
      </div>
    </div>
    <div>
      <a href="/signup"><button class="btn btn-success m-2 float-end" type="button">Signup</button></a>
      <button class="waves-effect waves-light btn" type="submit" >LOGIN</a>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>