<div class="row login-container">
  <form>
    <div class="row">
      <h2>Login</h2>
      <div class="input-field col s12">
        <input id="login-email" type="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="login-password" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>
    <div>
      <a id="login-button" class="waves-effect waves-light btn">LOGIN</a>
    </div>
  </form>
</div>