<div class="card">
    <h2 class="card-header bg-dark text-light text-center" style="color: teal; padding: 1.3rem;">Your Posts</h2>
{{#if posts.length}}
    <div class="card-body">
    {{#each posts as |post|}}
        {{> posts post}}
            {{!-- <a href="/dashboard/edit/{{post.id}}" class="btn btn-primary float-end" style="width: 150px;">Edit post</button></a> --}}
        </div>
    {{/each}}

{{else}}
<p class="card-body text-center">You do not currently have any posts. Click on 'New Post' so we can change that!</p>
    </div>

{{/if}}
