<div class="row signup-container">
  <form>
    <div class="row">
      <h2>Sign Up:</h2>
      <div class="input-field col s12">
        <label for="username">Username</label>
        <input id="username" type="text" class="validate" style="color: #eeeeee;"/>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="input-field col s12">
          <label for="email">Email</label>
          <input id="signup-email" type="email" class="validate" style="color: #eeeeee;"/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <label for="password">Password</label>
          <input id="signup-password" type="password" class="validate" style="color: #eeeeee;"/>
        </div>
    </div>
    <div>
      <button type="submit" id="signup-button" class="waves-effect waves-light btn">SIGNUP</button>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>