<div class="row signup-container">
  <form>
    <div class="row">
      <h2>Sign Up:</h2>
      <div class="input-field col s12">
        <input id="username" />
        <label for="username">Username</label>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="input-field col s12">
          <input id="signup-email" type="email" class="validate" />
          <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="signup-password" type="password" class="validate" />
          <label for="password">Password</label>
        </div>
    </div>
    <div>
      <a id="signup-button" class="waves-effect waves-light btn">SIGNUP</a>
    </div>
  </form>
</div>