<div class="single-post-container col s12 m7">
  <div class="card horizontal">
    <div class="card-panel grey post-bar">
      <button class="btn-flat waves-effect waves-light">
        <i class="small material-icons">arrow_upward</i>
      </button>
      <h5>1.2k</h5>
      <button class="btn-flat waves-effect waves-light">
        <i class="small material-icons">arrow_downward</i>
      </button>
    </div>
    <div class="card-stacked">
      <div class="row">
        <div class="col s12 card-content">
          <p>posted by username at 55:55</p>
          <h2><a href="#">Post Title</a></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra
            maecenas accumsan lacus vel facilisis volutpat. Pellentesque diam
            volutpat commodo sed. Vitae elementum curabitur vitae nunc sed velit
            dignissim sodales ut. Gravida neque convallis a cras semper auctor
            neque vitae tempus. Nam libero justo laoreet sit amet cursus sit.
            Urna molestie at elementum eu facilisis. Nullam vehicula ipsum a
            arcu cursus vitae congue mauris. Tincidunt vitae semper quis lectus
            nulla at. Est lorem ipsum dolor sit amet consectetur adipiscing
            elit.
          </p>
        </div>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s8">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Add a comment..</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3">
              <a class="waves-effect waves-light btn">ADD COMMENT</a>
            </div>
          </div>
        </form>
      </div>
      <!-- comment.handelbars starts here -->
      <div class="row">
        <div class="col s10">
          {{> comments post.comments}}
        </div>
      </div>
    </div>
  </div>
</div>